.recommend{
    flex-basis: 30%;
}
.side-vdo-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-vdo-list img{
    flex-basis: 49%;
    width: 50%;
}
.vdo-info{
    flex-basis: 49%;
}
.vdo-info h4{
    font-size: 13px;
    margin-bottom: 5px;
}
@media(max-width:900px){
    .recommend{
        flex-basis: 100%;
    }
}